* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: #121212;
}
.navebar {
  background-color: rgb(58, 58, 58);
  padding: 15px;
  text-align: center;
}
.parent-card {
  display: flex;
  flex-wrap: wrap;
}
.card {
  background-color: #333;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  margin: 20px;
  width: 300px;
}
.card img {
  width: 100%;
  border-radius: 10px;
  object-fit: fill;
}
.card button {
  background-color: #6200ea;
  color: #fff;
  font-weight: 600;
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
