* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}
body {
  height: 100vh;
  width: 100vw;
  background-color: #000000;
  font-family: Arial, sans-serif;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.counter {
  display: flex;
  gap: 30px;
  align-items: center;
  flex-direction: column;
}
button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #1e90ff;
  color: white;
  transition: background-color 0.3s ease;
}
.btnContainer {
  display: flex;

  gap: 20px;
}
input {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #1e90ff;
  border-radius: 5px;
  outline: none;
  color: black;
  font-weight: bold;
}
form {
  display: flex;
  gap: 20px;
}
